<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 4 - angular ui 연결 예시 모음
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>라이브러리 연결 예시</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button (click)="showExMaterialModal()" color="primary"
        >material 연결</ion-button
      >
      <ion-button (click)="showExMaterialPickerModal()" color="primary"
        >material picker 연결</ion-button
      >
      <ion-button (click)="showExPrimengModal()" color="primary"
        >primeng 연결</ion-button
      >
      <ion-button (click)="showExPrimengPickerModal()" color="primary"
        >primeng-picker 연결</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
