<ion-header>
  <ion-toolbar>
    <ion-title>
      링크
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>service</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button
        href="https://www.solarconnect.kr/"
        color="primary"
        target="_blank"
        >sc
      </ion-button>
      <ion-button
        href="https://league.solarconnect.kr/tabs/rank/map"
        color="primary"
        target="_blank"
        >발전왕
      </ion-button>
      <ion-button
        href="https://biz.solarconnect.kr/"
        color="primary"
        target="_blank"
        >biz
      </ion-button>
      <ion-button
        href="https://core.solarconnect.kr/"
        color="primary"
        target="_blank"
        >core
      </ion-button>
      <ion-button
        href="https://m.blog.naver.com/PostList.nhn?blogId=solarconnect"
        color="primary"
        target="_blank"
        >blog
      </ion-button>
    </ion-card-content>
    <ion-card-content>
      <ion-button
        href="https://alpha.solarconnect.kr/"
        color="primary"
        target="_blank"
        >sc-alpha
      </ion-button>
      <ion-button
        href="https://alpha-league.solarconnect.kr/tabs/rank/map"
        color="primary"
        target="_blank"
        >발전왕-alpha
      </ion-button>
      <ion-button
        href="https://alpha-biz.solarconnect.kr/"
        color="primary"
        target="_blank"
        >biz-alpha
      </ion-button>
      <ion-button
        href="https://alpha-core.solarconnect.kr/"
        color="primary"
        target="_blank"
        >core-alpha
      </ion-button>
    </ion-card-content>
    <ion-card-content>
      <ion-button
        href="https://staging.solarconnect.kr/"
        color="primary"
        target="_blank"
        >sc-staging
      </ion-button>
      <ion-button
        href="https://staging-league.solarconnect.kr/tabs/rank/map"
        color="primary"
        target="_blank"
        >발전왕-staging
      </ion-button>
      <ion-button
        href="https://staging-biz.solarconnect.kr/"
        color="primary"
        target="_blank"
        >biz-staging
      </ion-button>
      <ion-button
        href="https://staging-core.solarconnect.kr/"
        color="primary"
        target="_blank"
        >core-staging
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>업무 관련</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button
        href="https://confluence.solarconnect.co/"
        color="primary"
        target="_blank"
        >confluence
      </ion-button>
      <ion-button
        href="https://jira.solarconnect.co/secure/Dashboard.jspa"
        color="primary"
        target="_blank"
        >jira
      </ion-button>
      <ion-button
        href="https://siebv1.axshare.com/prototype/login/siebv1"
        color="primary"
        target="_blank"
        >axure
      </ion-button>
      <ion-button
        href="https://jenkins-sc.solarconnect.co/"
        color="primary"
        target="_blank"
        >jenkins
      </ion-button>
      <ion-button
        href="http://nas.solarconnect.co:5000/"
        color="primary"
        target="_blank"
        >nas
      </ion-button>
      <ion-button
        href="https://sentry.io/organizations/solarconnect"
        color="primary"
        target="_blank"
        >sentry
      </ion-button>
      <ion-button
        href="https://github.com/orgs/solarconnect/dashboard"
        color="primary"
        target="_blank"
        >github
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>기술문서</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button href="https://angular.io/" target="_blank" color="primary">
        앵귤러 공식문서
      </ion-button>
      <ion-button href="https://ionicframework.com/docs" color="primary"
        >아이오닉 공식문서
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
