<ion-header>
  <ion-toolbar>
    <ion-title>
      링크
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Service</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button
        href="https://www.solarconnect.kr/"
        color="primary"
        target="_blank"
        >sc
      </ion-button>
      <ion-button
        href="https://league.solarconnect.kr/tabs/rank/map"
        color="primary"
        target="_blank"
        >발전왕
      </ion-button>
      <ion-button
        href="https://biz.solarconnect.kr/"
        color="primary"
        target="_blank"
        >biz
      </ion-button>
      <ion-button
        href="https://core.solarconnect.kr/"
        color="primary"
        target="_blank"
        >core
      </ion-button>
      <ion-button
        href="https://m.blog.naver.com/PostList.nhn?blogId=solarconnect"
        color="primary"
        target="_blank"
        >blog
      </ion-button>
      <ion-button
        href="https://www.solarbridge.kr/"
        color="primary"
        target="_blank"
        >sb
      </ion-button>
      <ion-button
        href="https://sc.trade.strix.co.kr/"
        color="primary"
        target="_blank"
        >EiMS
      </ion-button>
      <ion-button
        href="https://admin.solarconnect.kr/"
        color="primary"
        target="_blank"
        >admin
      </ion-button>
    </ion-card-content>
    <ion-card-content>
      <ion-button
        href="https://alpha.solarconnect.kr/"
        color="primary"
        target="_blank"
        >sc-alpha
      </ion-button>
      <ion-button
        href="https://alpha-league.solarconnect.kr/tabs/rank/map"
        color="primary"
        target="_blank"
        >발전왕-alpha
      </ion-button>
      <ion-button
        href="https://alpha-biz.solarconnect.kr/"
        color="primary"
        target="_blank"
        >biz-alpha
      </ion-button>
      <ion-button
        href="https://alpha-core.solarconnect.kr/"
        color="primary"
        target="_blank"
        >core-alpha
      </ion-button>
    </ion-card-content>
    <ion-card-content>
      <ion-button
        href="https://staging.solarconnect.kr/"
        color="primary"
        target="_blank"
        >sc-staging
      </ion-button>
      <ion-button
        href="https://staging-league.solarconnect.kr/tabs/rank/map"
        color="primary"
        target="_blank"
        >발전왕-staging
      </ion-button>
      <ion-button
        href="https://staging-biz.solarconnect.kr/"
        color="primary"
        target="_blank"
        >biz-staging
      </ion-button>
      <ion-button
        href="https://staging-core.solarconnect.kr/"
        color="primary"
        target="_blank"
        >core-staging
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>업무 관련</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button
        href="https://confluence.solarconnect.co/"
        color="success"
        target="_blank"
        >confluence
      </ion-button>

      <ion-button
        href="https://jenkins-sc.solarconnect.co/"
        color="success"
        target="_blank"
        >jenkins
      </ion-button>
      <ion-button
        href="https://jenkins-sc-k8s-cluster1.solarconnect.co/"
        color="success"
        target="_blank"
        >jenkins-old
      </ion-button>
      <ion-button
        href="https://sentry.io/organizations/solarconnect"
        color="success"
        target="_blank"
        >sentry
      </ion-button>
      <ion-button
        href="https://github.com/orgs/solarconnect/dashboard"
        color="success"
        target="_blank"
        >github_sc
      </ion-button>
    </ion-card-content>
    <ion-card-content>
      <ion-button
        href="http://nas.solarconnect.co:5000/"
        color="success"
        target="_blank"
        >nas
      </ion-button>
      <ion-button
        href="https://jira.solarconnect.co/secure/Dashboard.jspa"
        color="success"
        target="_blank"
        >jira
      </ion-button>
      <ion-button
        href="https://analytics.google.com/"
        color="success"
        target="_blank"
        >ga
      </ion-button>
      <ion-button href="https://www.hotjar.com/" color="success" target="_blank"
        >Hotjar
      </ion-button>
    </ion-card-content>
    <ion-card-content>
      <ion-button
        href="https://docs.google.com/spreadsheets"
        color="success"
        target="_blank"
        >구글스프레드시트
      </ion-button>
      <ion-button
        href="https://docs.google.com/spreadsheets/d/1IxiZGGf2-91UTt60YqETFoPOO8u6Ao09iq8dvoVEj6M/edit?ouid=105218410710142437399&usp=sheets_home&ths=true"
        color="success"
        target="_blank"
        >주간업무
      </ion-button>
    </ion-card-content>
    <ion-card-content>
      <ion-button
        href="https://www.apistore.co.kr/"
        color="success"
        target="_blank"
        >apistore
      </ion-button>
      <ion-button
        href="https://webfax.uplus.co.kr/main"
        color="success"
        target="_blank"
        >U+웹팩스
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Axure</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button
        href="https://app.axure.cloud/TDLBNW"
        target="_blank"
        color="warning"
      >
        sc-homepage
      </ion-button>
      <ion-button
        href="https://app.axure.cloud/3VV6OA"
        target="_blank"
        color="warning"
        >SC-CORE
      </ion-button>
      <ion-button
        href="https://app.axure.cloud/QSSL9B"
        target="_blank"
        color="warning"
        >SC-saem
      </ion-button>
      <ion-button
        href="https://app.axure.cloud/SIEBV1"
        target="_blank"
        color="warning"
        >Asset Mgmt
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Other</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button
        href="https://youtu.be/B-oN4QPLQa0?t=92"
        target="_blank"
        color="danger"
      >
        좋은 동료들과 함께한다는 것은?
      </ion-button>
      <ion-button
        href="https://www.youtube.com/watch?v=Run0lsnAAqo&feature=youtu.be&t=20"
        target="_blank"
        color="danger"
      >
        1초 설현(본인 주장)
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
