<ion-header>
  <ion-toolbar class="header-title-wrap" mode="md">
    <ion-title class="header-title">material 예시</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" color="medium" (click)="closeModal()">
        <ion-icon name="close" style="width:26px; height: 26px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [formGroup]="form">
  <!-- <mat-form-field>
    <input
      matInput
      [(ngModel)]="date"
      [matDatepicker]="picker"
      placeholder="Choose a date"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker
      (monthSelected)="chosenMonthHandler($event, picker)"
      startView="year"
      #picker
    ></mat-datepicker>
  </mat-form-field>
  <button mat-raised-button (click)="picker.open()">Open</button>

  {{ date | json }} -->

  {{ getValue() }}
  <mat-form-field>
    <input
      matInput
      [matDatepicker]="dp"
      placeholder="Month and Year"
      formControlName="date"
    />
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker
      #dp
      [startView]="startView"
      (yearSelected)="chosenYearHandler($event, dp)"
      (monthSelected)="chosenMonthHandler($event, dp)"
      panelClass="example-month-picker"
      [calendarHeaderComponent]="exMaterialPickerHeaderPage"
    >
    </mat-datepicker>
  </mat-form-field>
  <button mat-raised-button (click)="dpOpen('multi-year', dp)">
    multi-year Open
  </button>
  <button mat-raised-button (click)="dpOpen('year', dp)">year Open</button>
  <button mat-raised-button (click)="dpOpen('month', dp)">month Open</button>
  <button mat-raised-button (click)="aclick()">click test</button>
</ion-content>
