<ion-header>
  <ion-toolbar>
    <ion-title>
      amchart example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>차트</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button (click)="showHeatMapCalendarModal()" color="primary"
        >heatmap-calendar</ion-button
      >
      <ion-button (click)="showColumnChartModal()" color="primary"
        >column-chart</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
